<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051458754310-kssq07euluporjoch08f36nps6ai3u80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051458754310-kssq07euluporjoch08f36nps6ai3u80</string>
	<key>API_KEY</key>
	<string>AIzaSyCY0FUw_AyM5-X3v2V9H3klQFZiqOk9Iyc</string>
	<key>GCM_SENDER_ID</key>
	<string>1051458754310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13-Soumya</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ios-a9540</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ios-a9540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051458754310:ios:f8ce99669e079d8b5a7087</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-ios-a9540.firebaseio.com</string>
</dict>
</plist>